<?xml version="1.0" encoding="utf-8"?>
<settings>
    <!--
	 Notes:
			 Byte Order: 1 = MSB, 0 = LSB
			 DMX Offsets start at 1
			 Universe Offsets start at 1
		-->
    <input_universe>1</input_universe>
    <output_universe>2</output_universe>
    <joystick device="/dev/input/js0">
				<map type="button" link="go" number="1" />
				<map type="analog" link="pan" number="3" min="-32767" max="32767" deadmin="-3000" deadmax="3000" scale="-250" />
				<map type="analog" link="tilt" number="4" min="-32767" max="32767" deadmin="-3000" deadmax="3000" scale="-300" />
				<map type="analog" link="iris" number="0" min="-32767" max="32767" deadmin="-3000" deadmax="3000" scale="6000" />
				<map type="button" action="release" number="1" />
    </joystick>
		<fixture>
				<attribute name="intensity" offset="315" size="1" order="1"/>
				<attribute name="pan" offset="301" size="2" order="1"/>
				<attribute name="tilt" offset="303" size="2" order="1"/>
				<attribute name="iris" offset="313" size="1" order="1" min="0" max="132"/>
				<attribute name="go" offset="511" size="1" order="1" min="0" max="255"/>
		</fixture>
</settings>
