<?xml version="1.0" encoding="utf-8"?>
<settings>
    <!--
	 Notes:
			 Byte Order: 1 = MSB, 0 = LSB
			 DMX Offsets start at 1
			 Universe Offsets start at 1
		-->
    <input_universe>1</input_universe>
    <output_universe>2</output_universe>
    <joystick device="/dev/input/js0">
				<map type="button" link="go" number="1" />
				<map type="analog" link="pan" number="3" min="-32767" max="32767" deadmin="-3500" deadmax="3500" scale="-500" />
				<map type="analog" link="tilt" number="4" min="-32767" max="32767" deadmin="-3500" deadmax="3500" scale="-500" />
				<map type="analog" link="iris" number="0" min="-32767" max="32767" deadmin="-3500" deadmax="3500" scale="9000" />
				<map type="button" action="release" number="1" />
    </joystick>
		<fixture address="301">
				<parameter name="pan" offset="1" size="2" order="1"/>
				<parameter name="tilt" offset="3" size="2" order="1"/>
				<parameter name="iris" offset="13" size="1" order="1" min="0" max="132"/>
				<parameter name="intensity" offset="15" size="1" order="1"/>
		</fixture>
</settings>
